@model IEnumerable<Blogs.Models.Category>

<div class="container mt-3">
    <h2>Categories</h2>
    <ul class="list-group">
        @foreach (var category in Model)
        {
            <li class="list-group-item">
                <a href="@Url.Action("Index", "Product", new { id = category.CategoryId })">
                    @category.CategoryName
                </a>
            </li>
        }
    </ul>
</div>
